.post {
    display: flex;
    margin-bottom: 1rem;
}

.userpic {
    width: 5rem;
    margin-right: 2rem;
}

.userpic img {
    width: 100%;
    border-radius: 100%;
}

.content {
    display: flex;
    flex-direction: column;
}

.userName {
    font-weight: 700;
}

.date {
    color: slategrey;
    font-size: 1.4rem;
}
