.pagination {
    padding: 1rem;
    list-style: none;
    display: flex;
}

.selectedPage {
    font-weight: 700;
    background-color: #eff1ef;
}

.pageNumber {
    padding: 0.2rem;
    cursor: pointer;
    border: 1px solid #e6e6e6;
    margin-right: 0.5rem;
}
