.user {
    display: flex;
    margin-bottom: 1rem;
}

.poster {
    width: 20rem;
    margin-right: 1rem;

}
.poster img {
    overflow: hidden;
    width: 100%;
    max-height: 60rem;
}

.infoTitle {
    font-weight: 700;
}
