/*@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');*/
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Lato',sans-serif;
    font-size: 1.6rem;
    background-color: #e6e6e6;
}

.header-main {
    background-color: #ed7000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header-main-inner {
    width: 96rem;
    display: flex;
    margin: 0 auto;
    align-items: center;
}

.header-main-logo {
    max-height: 5rem;
    margin-right: 1rem;
}

.header-main-text {
    font-size: 2rem;
    font-weight: 700;
    color: white;
}

.content {
    width: 96rem;
    display: flex;
    margin: 0 auto;
    margin-top: 6rem;
}

.navbar-left {
    width: 25rem;
    background-color: white;
    margin-right: 1rem;
    padding: 1rem;
    min-height: 90vh;
}

.navbar-left-list {
    list-style: none;
}

.navbar-left-link {
    text-decoration: none;
    color: black;
    display: block;
    padding: 1rem;
}

.navbar-left-link:hover {
    background-color: aliceblue;
}

.main {
    width: 70rem;
    background-color: white;
    padding: 1rem;
}
